@import url('https://fonts.googleapis.com/css?family=Abel');
.section-introduction {
  background: #ECECEC;
  padding: 30px;
}
.section-portfolio {
  background: linear-gradient(to right, rgba(255, 254, 155, 0.2), rgba(255, 254, 155, 0.6));
  padding: 30px;
}
